
::-webkit-scrollbar {
    width: 2px;
}
  
::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}
  
::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}
  
::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}


html {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
}
  
  
/* Scrollbar customization for Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #718195 #f9f9fb;
}
  
/* Dark mode for Firefox */
body.dark * {
    scrollbar-color: #3B404F #1B1E27;
}
